
<body style="
    margin: 0;
    padding: 0;
    {{!-- background: red; --}}
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
  ">

  <div style="
    background: purple;
    padding-top: 40px;
  ">
    <div style="
      background: #fff;
      margin: 0px 40px 0px 40px;
      padding: 20px 20px 10px 20px;
    ">
      {{{body}}}
    </div>

    {{> footer}}
  </div>
</body>
