<strong> Olá, {{deliveryman}} </strong>
<p>Existe uma nova entrega para você fazzer. Confira os detalhes abaixo:</p>
<p>detalhes</p>
<p style="margin-bottom: 0;">
  <small>
    O horário está novamente disponível para agendamentos.
  </small>
</p>
